@tailwind base;
@tailwind components;

.container {
  @apply max-w-4xl mx-auto px-2;
}
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
body {
  background-color: theme('colors.body');
  color: theme('colors.white');
}

.overlay-slick-hero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    theme('colors.body') 25%,
    transparent 80%,
    theme('colors.body')
  );
}
.overlay-film-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    theme('colors.body')
  );
}
@screen mobile{
  .swiper-button-prev,.swiper-button-next{
    display: none;
  }
}